<div class="container">
    <div class="row mt-5">
        <div class="col-lg-2 col-sm-12 col-xs-12">
            <input type="text" placeholder="enter username" class="form-control" name="username">
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-12">
            <button type="button" class="btn btn-info" (click)="findByUsername()">Search</button>
        </div>
    </div>
    <h2 class="mt-5 mb-4 display-4">Result</h2>
    <div class="col-lg-2 col-sm-12 col-xs-12">

        <table class="table">
            <thead>
                <tr>
                  
                    <td>Firstname</td>
                    <td>Lastname</td>
                    <td>Age</td>
                    <td>City</td>
                    
                </tr>
            </thead>
            <tbody>
               
                <tr>{{user.firstname}}</tr>
                <tr>{{user.lastname}}</tr>
                <tr>{{user.age}}</tr>
                <tr>{{user.city}}</tr>
                
            </tbody>
        </table>
    </div>
</div>
